/* 초기화 */
html {
  font-size: 50%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: url(../images/bg.webp) center / cover;
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
}

h1,
h2,
h3,
p,
dl,
dd,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;

}

a {
  text-decoration: none;
  color: #000;
}

.hidden {
  position: absolute;
  left: -9999em;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #312c86;
}

::-webkit-scrollbar-thumb {
  background-color: #887afa;
  border-radius: 10px;
}

/* 배경 */
#background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.bg_pattern {
  position: absolute;
  max-width: 780px;
  background: no-repeat top / 100%;
}

.pattern-1 {
  top: 0;
  left: 0;
  width: 40%;
  height: 500px;
  background-image: url(../images/pattern-1.png);
}

.pattern-2 {
  top: 40vh;
  right: 0;
  width: 45%;
  height: 950px;
  background-image: url(../images/pattern-2.png);
}

.pattern-3 {
  top: 40vh;
  left: 0;
  width: 40%;
  height: 15%;
  background-image: url(../images/pattern-3.png);
}

.pattern-4 {
  top: 310vh;
  left: 0;
  width: 40%;
  height: 20%;
  transform: scaleX(-1);
  background: url(../images/pattern-2.png) no-repeat top / 100%;
}

.pattern-5 {
  top: 190vh;
  right: 0;
  width: 40%;
  height: 15%;
  transform: scaleX(-1);
  background: url(../images/pattern-3.png) no-repeat top / 100%;
}

.pattern-6 {
  bottom: 0;
  left: 0;
  width: 40%;
  height: 15%;
  background: url(../images/pattern-3.png) no-repeat top / 100%;
}

.bg_planet {
  position: absolute;
  z-index: 1;
  background: no-repeat top left / 100%;
}

.planet-1 {
  width: 8rem;
  height: 8rem;
  top: 8%;
  left: 10%;
  background-image: url(../images/planet-1.svg);
}

.planet-2 {
  width: 12rem;
  height: 12rem;
  top: 15%;
  left: -5%;
  background-image: url(../images/planet-2.svg);
}

.planet-3 {
  width: 8rem;
  height: 8rem;
  top: 5%;
  right: 0;
  background-image: url(../images/planet-3.svg);
}

.planet-4 {
  width: 8rem;
  height: 8rem;
  top: 0%;
  left: 10%;
  background-image: url(../images/planet-4.svg);
}

.planet-5 {
  width: 25rem;
  height: 25rem;
  top: 20%;
  right: -10%;
  background-image: url(../images/planet-5.svg);
}

.planet-6 {
  width: 8rem;
  height: 8rem;
  bottom: 12.5%;
  right: 10%;
  background-image: url(../images/planet-1.svg);
}

.planet-7 {
  width: 16rem;
  height: 16rem;
  bottom: 5%;
  right: -9%;
  background-image: url(../images/planet-2.svg);
}

.planet-8 {
  width: 50rem;
  height: 50rem;
  bottom: -8%;
  left: -15%;
  background-image: url(../images/planet-5.svg);
}

#container {
  margin: 0;
  width: calc(100vw - 17px);
  height: 100%;
  position: absolute;
}

.star {
  background-color: #f0f0f0;
  width: 1.5px;
  height: 1.5px;
  position: absolute;
  border: #f0f0f0 0px solid;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.5);
  animation-name: glow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes glow {
  0% {
    opacity: 0;
    transform: scale(1, 1);
  }

  20% {
    opacity: 0.5;
  }

  35% {
    opacity: 1;
  }

  50% {
    transform: scale(2, 2);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes title-rotation {
  0% {
    transform: skew(10deg, 10deg);
  }

  100% {
    transform: skew(-10deg, -10deg);
  }
}

.bg_star {
  position: absolute;
  width: 20%;
  height: 50vh;
  background: url(../images/star-1.png) no-repeat top / 50%;
}

.star-1 {
  left: 0;
  top: 100px;
}

.star-2 {
  right: 0;
  top: 500px;
}

/* 헤더 */

header {
  max-width: 48rem;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding: 8rem 0 20rem;
}

header .title {
  width: 100%;
  height: 4rem;
  font-size: 1rem;
  font-weight: 300;
  margin: 0 auto 2rem;
  position: relative;
}

header .title>p:last-child {
  position: absolute;
  bottom: 0;
  left: 45%;
}

header .title::before {
  content: "";
  position: absolute;
  left: 20%;
  top: 3rem;
  width: 22.5%;
  border-bottom: 1px solid #fff;
}

header h1 {
  font-size: 3rem;
  position: relative;
}

header h1>.title-circle {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 4%;
  width: 90%;
  height: 8rem;
  border: 1px solid #fff;
  border-radius: 50%;
  animation: title-rotation 5s alternate infinite;
}


header h1>span {
  text-shadow:
    rgba(255, 255, 255, 0.35) 0px 0px 5px,
    rgba(255, 255, 255, 0.35) 0px 0px 10px,
    rgba(255, 255, 255, 0.35) 0px 0px 15px,
    rgba(255, 255, 255, 0.35) 0px 0px 20px,
    2px 2px 5px rgba(0, 0, 0, 0);
}

/* Main */

#info {
  display: grid;
  justify-content: center;
  padding: 2rem;
  gap: 3rem;
  width: fit-content;
  margin: 0 auto;
}

.item {
  width: 100%;
  max-width: 38rem;
}

.card {
  perspective: 1200px;
  position: relative;
}

.content.onLeave {
  transition: transform .3s ease;
}
.content {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  padding: 3rem 2.8rem 0;
  background-color: #fff;
  pointer-events: none
}
.content>p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #9575cd;
  margin-bottom: 2rem;
}

.content>h3 {
  font-size: 2.5rem;
  margin-bottom: 3.1rem;
}

.content>h3>span {
  color: #673ab7;
}

.content>dl {
  margin-bottom: 3.1rem;
}

.content>dl>dt {
  width: fit-content;
  font-weight: 700;
  font-size: 1.5rem;
}

.content>dl>dt::after {
  content: "";
  display: block;
  width: 102%;
  height: 0.7rem;
  border-radius: 1rem;
  background-color: #e1d6f4;
  margin-top: -1rem;
}

.content>dl>dd {
  margin-top: 0.8rem;
  font-size: 1.25rem;
  line-height: 2.2rem;
  word-break: keep-all;
}

.item .certi_list {
  font-size: 1.25rem;
  font-weight: 700;
  color: #673ab7;
  margin-bottom: 3rem;
}

.certi_list-item {
  font-size: 1.5rem;
  color: #000;
}

.certi_list-item>li {
  margin: 0.9rem 0;
}

.certi_list-item>li>span {
  width: fit-content;
  display: inline-block;
}

.certi_list-item>li>span:nth-child(2) {
  font-size: 1.25rem;
  font-weight: 400;
  margin-left: 1rem;
}

.certi_list-em>span:first-child::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.7rem;
  border-radius: 1rem;
  background-color: #e1d6f4;
  margin-bottom: -1.7rem;
}

/* Portfolio */

#Pof {
  margin-top: 24rem;
  position: relative;
  background: linear-gradient(to bottom, rgba(18, 194, 233, 0) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 85%, rgba(196, 113, 237, 0) 100%);
}

#Pof .wrap {
  display: grid;
  justify-content: center;
  padding: 2rem;
  gap: 3rem;
  width: fit-content;
  margin: 0 auto;
}

svg.title-flow {
  width: fit-content;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(90deg);
  /* rotate는 조정 후에 주기!! */
  display: none;
}

svg.title-flow:first-of-type {
  right: 0;
  top: 0;
}

text {
  font-size: 4.375rem;
  font-weight: 700;
  fill: none;
  stroke: #fff;
  stroke-width: .3px;
  stroke-linejoin: round;
}

#Pof>.wrap>article {
  max-width: 38rem;
  border-radius: 2rem;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.2) 30%, rgba(0, 0, 0, 0) 71%, rgba(255, 255, 255, 0.2) 100%);
  box-shadow: 0 0 0.1rem 0 #000000,
    inset 0 0 0 rgba(255, 255, 255, .75),
    inset 0px 0px 2px rgba(255, 255, 255, .75);
}

#Pof>.wrap>article>a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  overflow: hidden;
}

#Pof>.wrap>article>a>p {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1.6rem;
}

#Pof>.wrap>article>a>span {
  font-size: 1.5rem;
  color: #e8e8e8;
  order: -1;
  margin-top: 4rem;
}

#Pof>.wrap>article>a>img {
  display: block;
  margin-top: 4rem;
}

#Pof>.wrap>article.pc>a>img {
  width: 90%;
}

#Pof>.wrap>article.mobile>a>img {
  width: 50%;
}

/* Contact */

#contact {
  width: 80%;
  max-width: 79rem;
  margin: 24rem auto 0;
  padding: 3.6rem 2rem 2.2rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 0 1.5rem 0 #000000;
  text-align: center;
}

#contact h2 {
  font-size: 2.5rem;
  font-weight: 700;
  word-break: keep-all;
}

#contact address {
  margin-top: 2rem;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 200;
}

#contact a {
  display: block;
  width: 100%;
  border-radius: 1.25rem;
  line-height: 5.6rem;
  background-color: #6200ea;
  color: #fff;
  margin: 2.5rem auto 0.3rem;
  font-size: 1.5rem;
  /* 롤오버시 */
  /* box-shadow: 0px 0px 0.75rem 0.25rem rgba(98, 0, 234, 0.5); */
}

/* Footer */

footer {
  padding-top: 3rem;
  line-height: 7rem;
  text-align: center;
  color: #fff;
}

footer>small {
  font-size: 1rem;
}




@media screen and (min-width: 768px) {
  html {
    font-size: 60%;
  }

  #info {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .item1 {
    grid-area: 1 / 1 / 3 / 1;
  }

  .item2 {
    grid-area: 2 / 2 / 4 / 2;
  }

  .item3 {
    grid-area: 3 / 1 / 5 / 1;
    grid-column-end: auto;
  }

  #Pof .wrap {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  #Pof .GHS {
    grid-area: 1 / 5 / 5 / 8;
  }

  #Pof .OMDB {
    grid-area: 5 / 5 / 9 / 9;
  }

  #Pof .SB {
    grid-area: 3 / 1 / 7 / 5;
  }

  #Pof .GPG {
    grid-area: 7 / 2 / 11 / 5;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 80%;
  }
}